<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tornado Home</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.css" type="text/css"/>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">

    </div>
    <footer>
        <p>&copy; Ajaxj Company 2012</p>
    </footer>
</div>


<script type="text/javascript" src="/static/bootstrap/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        //alert("init jquery and bootstrap");
    });
</script>

</body>
</html>